/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.header {
  width: 100%;
  background: linear-gradient(to right, #42a5f5, #1e88e5);
  color: white;
  padding: 50px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2em;
  line-height: 1.8;
}

.main-content {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.wallet-section,
.role-section,
.privacy-section {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wallet-section h2,
.role-section h2,
.privacy-section h2 {
  font-size: 2em;
  color: #1570BF;
  margin-bottom: 10px;
}

.wallet-section p,
.role-section p,
.privacy-section p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}

/* Buttons */
.role-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.role-button {
  padding: 15px 30px;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  background: #118DF1;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  text-align: center;
}
.role-button:hover{
  transform: scale(1.05);
}

/* Specific Button Styles */

/* Patient Button */
.patient-button {
  background: linear-gradient(to right, #42a5f5, #1e88e5);
  color: white;
}

.patient-button:hover {
  background: linear-gradient(to right, #1e88e5, #1565c0);
  transform: scale(1.05);
}

/* Doctor Button */
.doctor-button {
  background: linear-gradient(to right, #66bb6a, #43a047);
  color: white;
}

.doctor-button:hover {
  background: linear-gradient(to right, #43a047, #2e7d32);
  transform: scale(1.05);
}

/* Admin Button */
.admin-button {
  background: #F17511;
  color: white;
  margin-top: 20px;
}

.admin-button:hover {
  background: linear-gradient(to right, #fb8c00, #ef6c00);
  transform: scale(1.05);
}

/* Connect Wallet Button */
.wallet-button {
  background: linear-gradient(to right, #118DF1, #118DF1);
  color: white;
  padding: 15px 30px;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.wallet-button:hover {
  background: linear-gradient(to right, #118DF1, #118DF1);
  transform: scale(1.05);
}

/* Logout Button */
.logout-button {
  background: linear-gradient(to right, #e74c3c, #c0392b);
  color: white;
}

.logout-button:hover {
  background: linear-gradient(to right, #c0392b, #a93226);
  transform: scale(1.05);
}

/* Footer */
.footer {
  background-color: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
  color: #666;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
}

.break{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  align-items: center;
}
.break-section{
  flex-basis: 40%;
}
.break-word{
  flex-basis: 20%;
  color: grey;
  font-size: small;
}

.line{
  border: none;
  border-top: 1px solid grey;
  margin: 20px 0;
}
